body{
    background-image: url(https://w0.peakpx.com/wallpaper/242/668/HD-wallpaper-calculator-glasses-cactus-aesthetics-red.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
h3{ background-color: aqua;
    text-align: center;
    text-transform: uppercase;
    color: brown;
}
p{  text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
    text-align: center;
    color: blueviolet;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    outline: 0;
    border: 0;
    box-shadow: 2px 2px;
    /* background: transparent; */
    color: blue;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;

}
form input.equal{
    width: 145px;
}
form input.operator{
    color: red;
}